<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <title>{{ site.title }} - {{ page.title }}</title>
  <script src='{{ site.url }}/js/lodash.js' charset='utf-8'></script>
  <script src='{{ site.url }}/js/d3.js' charset='utf-8'></script>
</head>
<body>

<h1>{{ page.title }}</h1>

{{ content }}

{% if page.source %}
<p>source: <a href='{{ page.source }}' target="_blank">{{ page.source }}</a></p>
{% endif %}

{% if page.sources %}
<p>sources:</p>
<ul>
  {% for item in page.sources %}
    <li><a href='{{ item }}' target="_blank">{{ item }}</a></li>
  {% endfor %}
</ul>
{% endif %}

</body>
</html>
