<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }} - {{ page.title }}</title>
    <script src='{{ site.url }}/js/jquery.js' charset='utf-8'></script>
    <script src='{{ site.url }}/js/lodash.js' charset='utf-8'></script>
    <script src='{{ site.url }}/js/d3.js' charset='utf-8'></script>
    <script src='{{ site.url }}/js/moment.js' charset='utf-8'></script>
  </head>
  <body>

    <p>
      <strong><a href='{{ site.url }}' title='go to home page'>{{ site.url }}</a></strong>
    </p>

    <h1>{{ page.title }}</h1>

    <span>– <time datetime="{{ page.date }}">{{ page.date }}</time></span>

    {{ content }}

    {% if page.source %}
    <p>source: <a href='{{ page.source }}' target="_blank">{{ page.source }}</a></p>
    {% endif %}

    {% if page.sources %}
    <p>sources:</p>
    <ul>
      {% for item in page.sources %}
        <li><a href='{{ item }}' target="_blank">{{ item }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}

    <nav>
      <p>
        {% if page.previous.url %}
          <a title="go to previous post" href="{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
          &nbsp;
        {% endif %}

        {% if page.next.url %}
          <a title="go to next post" href="{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
        {% endif %}
      </p>
    </nav>

    <script type='text/javascript'>
      var times = document.getElementsByTagName('time');

      for(var i = 0; i < times.length; i++) {
        var time = times[i];
        var date = time.getAttribute('datetime');
        var m = moment(date, "YYYY-MM-DD HH:mm:ss Z");
        var fromNow = m.fromNow();

        time.innerHTML = fromNow;
      }
    </script>
  </body>
</html>
