<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <script src='{{ site.url }}/js/moment.js' charset='utf-8'></script>
  </head>
  <body>

    <p>
      <strong>{{ site.url }}</strong>
    </p>

    <nav>
      <ul>
        {% for post in site.posts %}
          <li><a href='{{ post.url }}' title="go to {{ post.title }}">{{ post.title }}</a> – <time datetime="{{ post.date }}">{{ post.date }}</time></li>
        {% endfor %}
      </ul>
    </nav>

    <script src='{{ site.url }}/js/page.js' charset='utf-8'></script>
  </body>
</html>
