<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>{{ site.title }}</title>
    <script src='{{ site.url }}/js/moment.js' charset='utf-8'></script>
  </head>
  <body>

    <p>
      <strong>{{ site.url }}</strong>
    </p>

    <nav>
      <ul>
        {% for post in site.posts %}
          <li><a href='{{ post.url }}' title="go to {{ post.title }}">{{ post.title }}</a> – <time datetime="{{ post.date }}">{{ post.date }}</time></li>
        {% endfor %}
      </ul>
    </nav>

    <script type='text/javascript'>
      var times = document.getElementsByTagName('time');

      for(var i = 0; i < times.length; i++) {
        var time = times[i];
        var date = time.getAttribute('datetime');
        var m = moment(date, "YYYY-MM-DD HH:mm:ss Z");
        var fromNow = m.fromNow();

        time.innerHTML = fromNow;
      }
    </script>
  </body>
</html>
